@import "src/theme/theme-variables";

.about-container {
  color: $white;
  padding-top: 10 * $spacer;
  padding-bottom: 5 * $spacer;
  background: $dark-blue;
}

.first-section {
  padding-bottom: 5 * $spacer;
  font-size: 20px;
}

.logo {
  height: 300px;
  margin: 50px;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 5 * $spacer;
}

.story-section {
  display: flex;
  padding: 5 * $spacer 0;
  width: 100%;
  background: $white;
  flex-direction: column;
  align-items: center;

  .title {
    color: $dark-blue;
  }

  .story-image {
    margin: $spacer;
    height: 500px;

    img {
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      height: 100%;
    }
  }
}

.team-section {
  color: $black;
  background: $blue;
  margin-bottom: 5 * $spacer;
  padding-top: 5 * $spacer;
  padding-bottom: 5 * $spacer;

  .title {
    color: $dark-blue;
  }
}

.team-member-box {
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: $spacer;
  border-radius: 25px;
  height: 300px;
  width: 100%;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $white;
  }

  .photo {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    img {
      width: 250px;
    }
  }

  .details {
    height: 100%;
    padding: 2 * $spacer;
  }

  .name {
    color: $rich-pink;
  }

  .subtitle {
    color: $dark-blue;
    font-weight: bold;
    font-size: 14px;
  }

  .description {
    margin-top: 2 * $spacer;
    text-overflow: ellipsis;
    height: 75px;
    display: flex;
    max-width: 300px;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .info-button {
    margin-top: 2 * $spacer;
  }
}

.interns-section {
  margin-top: 10 * $spacer;
  margin-bottom: 5 * $spacer;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .photo {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    border: 2px solid $white;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  .name {
    margin-top: $spacer;
    color: $blue;
    font-weight: bolder;
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
}

.closing-para {
  margin-top: 10 * $spacer;
  margin-bottom: 10 * $spacer;
  font-size: 20px;
}
