<div class="about-container">
  <div class="container text-center">
    <img src="assets/logo-4x.png" class="logo" />
    <h1>About Us</h1>
    <p class="pt-3">
      We are passionate and compassionate professionals, driven by the shared mission of building a community for
      entrepreneurs and their allies. We are based in different places and work remotely We are growing fast and always
      looking for new talent. If you love to help and like challenges - come and join us!
    </p>
  </div>
  <div class="container text-center interns-section">
    <h1>Meet our Interns</h1>
    <div class="row mt-5">
      <div class="col-3 info-box">
        <div class="photo"><img src="assets/team/shailvi.png" alt="" /></div>
        <div class="name">Shailvi Pandit</div>
        <div class="description">Narsee Monjee College of Commerce & Economics</div>
      </div>
      <div class="col-3 info-box">
        <div class="photo"><img src="assets/team/mohit.png" alt="" /></div>
        <div class="name">Mohit Goyal</div>
        <div class="description">Narsee Monjee College of Commerce & Ecenomics</div>
      </div>
      <div class="col-3 info-box">
        <div class="photo"><img src="assets/team/daanish.png" alt="" /></div>
        <div class="name">Daanish Ameen</div>
        <div class="description">Narsee Monjee College of Commerce & Economics</div>
      </div>
      <div class="col-3 info-box">
        <div class="photo"><img src="assets/team/samridha.png" alt="" /></div>
        <div class="name">Samridha</div>
        <div class="description">College of Planning & Architecture, Bhopal</div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-3 info-box">
        <div class="photo"><img src="assets/team/twarita.png" alt="" /></div>
        <div class="name">Twarita Bijoria</div>
        <div class="description">Narsee Monjee College of Commerce & Economics</div>
      </div>
      <div class="col-3 info-box">
        <div class="photo"><img src="assets/team/ram.png" alt="" /></div>
        <div class="name">Ram Kedia</div>
        <div class="description">Narsee Monjee College of Commerce & Ecenomics</div>
      </div>
      <div class="col-3 info-box">
        <div class="photo"><img src="assets/team/tushar.png" alt="" /></div>
        <div class="name">Tushar Aggarwal</div>
        <div class="description">Narsee Monjee College of Commerce & Economics</div>
      </div>
      <div class="col-3 info-box">
        <div class="photo"><img src="assets/team/dibrujission.png" alt="" /></div>
        <div class="name">Dibrujission H.</div>
        <div class="description">College of Planning & Architecture, Bhopal</div>
      </div>
    </div>
    <p class="closing-para">
      If you wish to join the cause, please write to us at <a href="mailto:hello@entrejourn.in">hello@entrejourn.in</a>
    </p>
  </div>
</div>
