<div class="container text-center">
  <div class="empty-logo"><i class="fas fa-feather text-muted"></i></div>
  <h3>Blog is coming soon!</h3>
  <p>
    For now, you can access our latest content on
    <a href="https://www.youtube.com/channel/UCQeL_8OTwzomVzcc2eZIXLg" target="__blank" rel="noopener noreferrer"
      >YouTube</a
    >,
    <a href="https://in.linkedin.com/company/entrejourn" target="__blank" rel="noopener noreferrer">LinkedIn</a>
    &amp; <a href="https://www.instagram.com/entrejourn/" target="__blank" rel="noopener noreferrer">Instagram</a>.
  </p>
</div>
