<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/" translate>
        <img height="40px" src="assets/logo-with-white-text.png" alt="EntreJourn" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbar-menu"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
        [attr.aria-expanded]="!menuHidden"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
          <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">
            <span translate>Home</span>
          </a>
          <a class="nav-item nav-link" routerLink="/videos" routerLinkActive="active">
            <span translate>Videos</span>
          </a>
          <a class="nav-item nav-link" routerLink="/blog" routerLinkActive="active">
            <span translate>Blog</span>
          </a>
          <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">
            <span translate>About</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
