@import "src/theme/theme-variables.scss";

footer {
  padding-top: $spacer * 5;
  padding-bottom: $spacer * 5;
  height: 400px;
  background-color: $dark-blue;
}

.social-icons {
  font-size: 48px;
}
