<footer>
  <div class="container text-white">
    <div class="row">
      <div class="col-3">
        <img height="30px" src="assets/logo-with-white-text.png" />
        <p class="text-gray pt-3">Copyright © 2022 EntreJourn.</p>
      </div>
      <div class="col-3">
        <h5 class="pb-3">Get in Touch</h5>
        <p><a href="mailto:hello@entrejourn.in">hello@entrejourn.in</a></p>
        <p><a href="mailto:entrejourn@gmail.com">entrejourn@gmail.com</a></p>
      </div>
      <div class="col-3">
        <h5>Social</h5>
        <p class="social-icons">
          <a target="__blank" href="https://www.youtube.com/channel/UCQeL_8OTwzomVzcc2eZIXLg"
            ><i class="fab fa-youtube-square"></i
          ></a>
          <a target="__blank" href="https://www.linkedin.com/company/entrejourn/"><i class="fab fa-linkedin"></i></a>
          <a target="__blank" href="https://www.instagram.com/entrejourn/"><i class="fab fa-instagram-square"></i></a>
        </p>
      </div>
      <div class="col-3">
        <h5>Subscribe to our Newsletter</h5>
        <form>
          <div class="form-group pt-3">
            <input type="email" class="form-control" placeholder="Email address" />
          </div>
          <div class="d-grid gap-2 mt-3">
            <button
              class="btn btn-primary"
              type="button"
              triggers="click:blur"
              placement="bottom"
              ngbTooltip="Newsletter subscriptions will be available
              once the blog goes live."
            >
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
