<footer>
  <div class="container text-white">
    <div class="row">
      <div class="col-3">
        <img height="40px" src="assets/logo-with-white-text.png" />
        <p class="text-gray pt-3">
          Copyright © 2022 EntreJourn. Lorem ipsum dolor sit amet, consecte tur adipiscing elit.
        </p>
      </div>
      <div class="col-3">
        <h5>Get in Touch</h5>
        <p class="pt-3">8819 XYZ Church Street<br />Mumbai</p>
        <p>hello@entrejourn.in</p>
        <p>+91 12345 67890</p>
      </div>
      <div class="col-3">
        <h5>Social</h5>
        <p class="social-icons">
          <i class="fab fa-youtube-square"></i> <i class="fab fa-linkedin"></i> <i class="fab fa-instagram-square"></i>
        </p>
      </div>
      <div class="col-3">
        <h5>Subscribe to our Newsletter</h5>
        <form>
          <div class="form-group pt-3">
            <input type="email" class="form-control" placeholder="Email address" />
          </div>
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
