<div class="hero bg-dark">
  <div class="container text-white">
    <div class="row">
      <div class="col-6">
        <h1>
          Towards a <br />
          Stronger Mindset
        </h1>
        <p class="mt-5 mb-5">
          We present entrepreneurial journeys of mental resilience and strive towards creating a stronger community by
          sharing lived experiences and narratives from a thriving community of Entrepreneurs by themselves.
        </p>
        <button class="btn btn-primary" routerLink="/videos">Explore Videos</button>
        <a class="btn btn-link text-white" (click)="togglePopup1()"><i class="fas fa-play-circle"></i> View Intro</a>
      </div>
      <div class="col-6">
        <img
          (click)="togglePopup1()"
          class="float-end cursor-pointer"
          height="350"
          src="assets/home-intro.png"
          alt="Play Intro"
        />
      </div>
    </div>
  </div>
</div>

<!-- TODO Switch better modal using ng-bootstrap -->
<div (click)="togglePopup1()" *ngIf="displayVideo1" class="popup-bg d-flex" tabindex="-1" role="dialog">
  <iframe
    src="https://www.youtube.com/embed/BD24nptj8VU?controls=0"
    title="Intro Video"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<div (click)="togglePopup2()" *ngIf="displayVideo2" class="popup-bg d-flex" tabindex="-1" role="dialog">
  <iframe
    src="https://www.youtube.com/embed/Mc3__o9iUGw?controls=0"
    title="Intro Video"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<div class="section-2">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h1>Journeys on Mental<br />Well-Being of Entrepreneurs</h1>
        <p class="pt-3 pb-3">
          We believe staying mentally strong is a quintessential requirement for everyone and especially a must for an
          entrepreneur; and also understand that having a strong mindset is both a skill and attitude, hence can be
          nurtured, practiced and developed.
        </p>
        <a (click)="togglePopup2()" class="btn-link btn-link-primary cursor-pointer"
          ><i class="fas fa-play-circle"></i> Play Video</a
        >
      </div>
      <div class="col-5">
        <div (click)="togglePopup2()" class="video-box">
          <img src="assets/section-2-video-thumbnail.png" alt="Section 2 Video" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-3">
  <div class="container">
    <h1 class>Our Mission: <span class="text-secondary">Raise Awareness</span></h1>
    <div class="row">
      <p class="pb-3 pt-3">
        EntreJourn is an innovative and the first-of-its-kind community-based project that welcomes entrepreneurs from
        every discipline and culture who are not just passionate about their venture but are also willing to share their
        entrepreneurial journey, their struggles and challenges with respect to mental well-being. With these
        narratives, we hope to engage entrepreneurs to share and also spark conversations around mental health amongst
        entrepreneurs.
      </p>
    </div>
    <div class="row pt-5">
      <div class="col-6 mb-5">
        <div class="mission-box" routerLink="/videos">
          <div class="mission-icon-box">
            <i class="fas fa-video"></i>
          </div>
          <h4>Videos</h4>
          <p>Explore our newest conversation episode!</p>
        </div>
      </div>
      <div class="col-6 mb-5">
        <div class="mission-box" routerLink="/podcast">
          <div class="mission-icon-box">
            <i class="fas fa-podcast"></i>
          </div>
          <h4>Podcast</h4>
          <p>Our conversation series in the audio format.</p>
        </div>
      </div>
      <div class="col-6 mb-5">
        <div class="mission-box" routerLink="/">
          <div class="mission-icon-box">
            <i class="fas fa-comment-medical"></i>
          </div>
          <h4>Consult / Connect</h4>
          <p>Coming soon!</p>
        </div>
      </div>
      <div class="col-6 mb-5">
        <div class="mission-box" routerLink="/blog">
          <div class="mission-icon-box">
            <i class="fas fa-feather"></i>
          </div>
          <h4>Share your Experiences</h4>
          <p>Share your experiences on our blog!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <p>
        Here at EntreJourn, we are with a mission to build a community by bringin entrepreneurs together on one
        platform. We want to create, share and connect with entrepreneurs and their allies from different backgrounds at
        various stages of their venture.
      </p>
    </div>
  </div>
</div>

<div class="section-4">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1>Our Conversation Series</h1>
      </div>
      <div class="col-4">
        <button class="btn btn-primary float-end" routerLink="/videos">Explore Videos</button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-8">
        <div class="video-big-box">
          <i class="fas fa-spinner fa-pulse"></i>
        </div>
      </div>
      <div class="col-4">
        <div class="video-small-box">
          <i class="fas fa-spinner fa-pulse"></i>
        </div>
        <div class="video-small-box">
          <i class="fas fa-spinner fa-pulse"></i>
        </div>
        <div class="video-small-box">
          <i class="fas fa-spinner fa-pulse"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-5 bg-dark-pink">
  <div class="container text-white">
    <div class="row">
      <div class="col-6 support-content-box">
        <h1>Wish to<br />Support Us?</h1>
        <p class="mt-5 mb-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat facilisis quam volutpat turpis. Felis mi,
          ultrices ornare duis.
        </p>
        <button class="btn btn-secondary" routerLink="/about">Contact Us</button>
      </div>
      <div class="col-6">
        <div class="support-image-box"></div>
      </div>
    </div>
  </div>
</div>

<div class="section-6">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1>Our Latest Posts</h1>
      </div>
      <div class="col-4">
        <button class="btn btn-primary float-end" routerLink="/blog">Explore Blog</button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="blog-post">
          <div class="post-image"></div>
        </div>
      </div>
      <div class="col">
        <div class="blog-post">
          <div class="post-image"></div>
        </div>
      </div>
      <div class="col">
        <div class="blog-post">
          <div class="post-image"></div>
        </div>
      </div>
    </div>
  </div>
</div>
