@import "src/theme/theme-variables";

.hero {
  padding-top: $spacer * 8;
  padding-bottom: $spacer * 5;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  h1 {
    font-size: 48px;
  }
}

.popup-bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);

  iframe {
    height: 800px;
    width: 1200px;
  }
}

.video-box {
  cursor: pointer;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.section-2 {
  padding-bottom: $spacer * 5;
  padding-top: $spacer * 5;
}

.section-3 {
  padding-bottom: $spacer * 5;
  padding-top: $spacer * 5;
  background: linear-gradient($light-pink, $white);
}

.mission-box {
  padding-top: $spacer;
  border-radius: 20px;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s;
  background: rgba(255, 255, 255, 0.5);
}

.mission-box:hover {
  background: rgba(255, 255, 255, 1);
}

.mission-icon-box {
  color: $white;
  font-size: 25px;
  border-radius: 10px;
  background-color: $rich-pink;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacer;
}

.section-4 {
  padding-bottom: $spacer * 5;
  padding-top: $spacer * 5;
}

.video-big-box {
  height: 600px;
  margin-right: $spacer;
  background-color: $black;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  color: $gray-500;
  font-size: 40px;
  overflow: hidden;
  cursor: pointer;

  img {
    margin-left: -225px;
    opacity: 0.75;
    height: 100%;
  }

  .title {
    position: relative;
    bottom: 100px;
    font-size: 24px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    padding: 2 * $spacer;
    color: $white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.video-small-box {
  cursor: pointer;
  display: flex;
  height: 188px;
  margin-bottom: $spacer;
  background-color: $black;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  color: $gray-500;
  font-size: 30px;
  overflow: hidden;

  img {
    opacity: 0.75;
    height: 100%;
  }

  .title {
  }
}

.section-5 {
  overflow: hidden;
}

.support-content-box {
  padding-top: $spacer * 5;
  background-color: $rich-pink;
  z-index: 999;
  border-radius: 100px;
}

.support-image-box {
  margin-top: -$spacer * 5;
  margin-right: -150px;
  transform: scale(1.5);
  background-image: url("../../assets/people-hands-achievement-group.png");
  background-size: cover;
  height: 520px;
}

.section-6 {
  padding-bottom: $spacer * 10;
  padding-top: $spacer * 5;
  background: linear-gradient($light-pink, $white);
}

.blog-post {
  border-radius: 20px;
  overflow: hidden;
  height: 500px;
}

.post-image {
  height: 200px;
  border-radius: 15px;
  background-color: $gray-200;
}
