@import "src/theme/theme-variables.scss";

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .input-group {
    height: 40px;
    max-width: 400px;
  }
}

.loading-container {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.title-box {
  background: $dark-blue;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-top: 88px;
  color: $white;
  padding-top: 5 * $spacer;
  padding-bottom: 3 * $spacer;
}

.video-list {
  padding-top: 3 * $spacer;
  padding-bottom: 3 * $spacer;
  cursor: pointer;
}

.video-box {
  text-decoration: none;
  margin-bottom: $spacer;

  .card-title {
    color: $black;
  }
  .card-text {
    color: $gray-800;
  }
}

.video-box:hover {
  border-color: $blue;
  border-width: 2px;
  margin-bottom: calc($spacer - 2px);

  .card-title {
    color: $rich-pink;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
